<%- include('../../partials/head.ejs') %>
    <%- include('../../partials/navbar.ejs') %>
        <div class="container">
            <hr>
            <h3>Categorias</h3>
            <hr>
            <table class="table">
                <thead>
                    <tr>
                        <th>Id</th>
                        <th>Titulo</th>
                        <th>Slug</th>
                        <th>Ação</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <th>1</th>
                        <th>cat1</th>
                        <th>cat1</th>
                        <th>Del</th>
                    </tr>
                </tbody>
            </table>
        </div>
        <%- include('../../partials/footer.ejs') %>